.task-item {
    margin: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 10px; 
    position: relative; 
  }
  
  .task-nome {
    font-weight: bold;
  }
  
  .task-marker {
    width: 20px;
    height: 100%; 
    border-radius: 0 5px 5px 0;
    position: absolute; 
    right: 0; 
    top: 0; 
  }
  